body{
  color: white;
  background-image: url('./asset/godslove.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  font-family: "JosephinSans-Medium";
  src: url("./asset/fonts/JosefinSans-Medium.ttf");
  
}


.nav-link::after{
    content: '';
    display: block;
    bottom: 2px;
    width: 0%;
    left: 0px;
    height: 2px;
    transition: 0.25s cubic-bezier(0.72,-0.01, 0.19, 0.92);
    background: white ;
    color: white;
    text-shadow: white 10px 0 30px;
    
      
}
.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-link{
  color: white;
}

.nav-item:hover{
  text-shadow: white 20px 0 300px; 
}


.nav-item{
  color: white;
}


.nav-link:hover:after {
  box-shadow: white 20px 0 60px;
  width: 100%;   
}



input:invalid {
  border: 2px dashed red;
}

input:valid {
  border: 2px solid greenyellow;
}



.submit-form {
  background-color: #498280 ;
  color: White;
  opacity: 0.90;
  border-radius: 30px;
  box-shadow: white 10px 0 30px;
  border: white solid 2px;
  padding: 2rem;
  max-width: 300px;
  align-items: center; 
}
.player{
  float: right;
}
.edit-form {
  max-width: 300px;
  text-align: center;
  padding: auto;
  margin-bottom: 10px;
  background-color: #498280 ;
  opacity: 0.90;
  color: white;
  border-radius: 30px;
  box-shadow: white 10px 0 30px;
  border: white solid 2px;
  

}
.card{
  text-align: center;
  padding: auto;
  margin-bottom: 10px;
  background-color: #498280 ;
  opacity: 0.90;
  color: white;
  border-radius: 30px;
  box-shadow: white 10px 0 30px;
  border: white solid 2px;
  max-width: 300px;
  align-items: center;
}

input{
  margin-bottom: 2rem;
  max-width: 250px;
}

.red{
  color: red;
}

.destroy{
  margin: 2rem;
  padding: auto;
}
